In [1]:
import pandas as pd

In [2]:
# Load the merged dataset
df = pd.read_csv("/content/merged_dataset_cleaned (1).csv")

In [3]:
print(df.head())

              City  week_of_year       PM2.5        PM10          NO  \
0  bangalore urban             1  222.853623  284.105797   90.302899
1  bangalore urban             2  229.734286  306.507143  102.500000
2  bangalore urban             3  241.440000  273.465714   96.110000
3  bangalore urban             4  254.461429  341.268571   99.784286
4  bangalore urban             5  258.794286  291.031429   93.791429

         NO2         NOx        NH3        CO        SO2  ...  Cases  Deaths  \
0  83.542029  123.923188  27.715942  4.785362  47.698551  ...   19.0     1.0
1  73.890000  127.011429  26.161429  5.410571  50.311429  ...   19.0     1.0
2  81.487143  116.827143  24.050000  5.087286  55.260000  ...   19.0     1.0
3  75.791429  130.185714  22.000000  5.177000  51.284286  ...   19.0     1.0
4  72.878571  125.887143  26.272857  5.393286  53.822857  ...   19.0     1.0

    day  mon    year   Latitude  Longitude     preci  LAI    Temp
0  15.0  6.0  2014.0  12.945142  77.553645  0.306436  8.0  304.45
1  15.0  6.0  2014.0  12.945142  77.553645  0.306436  8.0  304.45
2  15.0  6.0  2014.0  12.945142  77.553645  0.306436  8.0  304.45
3  15.0  6.0  2014.0  12.945142  77.553645  0.306436  8.0  304.45
4  15.0  6.0  2014.0  12.945142  77.553645  0.306436  8.0  304.45

[5 rows x 27 columns]

In [4]:
print("Shape:", df.shape)

Shape: (269, 27)

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          269 non-null    object
 1   week_of_year  269 non-null    int64
 2   PM2.5         269 non-null    float64
 3   PM10          269 non-null    float64
 4   NO            269 non-null    float64
 5   NO2           269 non-null    float64
 6   NOx           269 non-null    float64
 7   NH3           269 non-null    float64
 8   CO            269 non-null    float64
 9   SO2           269 non-null    float64
 10  O3            269 non-null    float64
 11  Benzene       269 non-null    float64
 12  Toluene       269 non-null    float64
 13  Xylene        269 non-null    float64
 14  AQI           269 non-null    float64
 15  state_ut      269 non-null    object
 16  Disease       269 non-null    object
 17  Cases         269 non-null    float64
 18  Deaths        269 non-null    float64
 19  day           269 non-null    float64
 20  mon           269 non-null    float64
 21  year          269 non-null    float64
 22  Latitude      269 non-null    float64
 23  Longitude     269 non-null    float64
 24  preci         269 non-null    float64
 25  LAI           269 non-null    float64
 26  Temp          269 non-null    float64
dtypes: float64(23), int64(1), object(3)
memory usage: 56.9+ KB
None

In [6]:
print(df.describe())

       week_of_year       PM2.5        PM10          NO         NO2  \
count    269.000000  269.000000  269.000000  269.000000  269.000000
mean      27.044610  250.486615  299.601398  100.371878   75.311239
std       15.295042   18.565411   21.349813    7.398747    5.714546
min        1.000000  201.350000  216.950000   81.545714   55.078571
25%       14.000000  237.948571  287.178571   95.255714   71.707143
50%       27.000000  251.011429  299.172857  101.267143   75.150000
75%       40.000000  263.258571  313.392857  105.572857   79.514286
max       53.000000  313.140000  369.464286  120.417143   89.232857

              NOx         NH3          CO         SO2          O3  ...  \
count  269.000000  269.000000  269.000000  269.000000  269.000000  ...
mean   126.088690   25.048778    5.008224   49.895214  100.412330  ...
std      8.097484    1.875042    0.359426    3.370420    6.859897  ...
min    107.545714   17.585714    4.098143   41.472857   84.605714  ...
25%    119.558571   23.725714    4.788286   47.521429   95.630000  ...
50%    126.967143   25.097143    4.988286   49.724286  100.257143  ...
75%    131.572857   26.242857    5.242571   52.304286  104.671429  ...
max    152.447143   30.917143    6.541286   60.235714  120.135714  ...

            Cases      Deaths         day         mon         year  \
count  269.000000  269.000000  269.000000  269.000000   269.000000
mean    19.613383    0.977695   15.026022    6.059480  2014.007435
std      5.700809    0.171322    1.875627    0.637885     0.539434
min      4.000000    0.000000    2.000000    3.000000  2011.000000
25%     19.000000    1.000000   15.000000    6.000000  2014.000000
50%     19.000000    1.000000   15.000000    6.000000  2014.000000
75%     19.000000    1.000000   15.000000    6.000000  2014.000000
max     78.000000    2.000000   28.000000   12.000000  2019.000000

         Latitude   Longitude       preci         LAI        Temp
count  269.000000  269.000000  269.000000  269.000000  269.000000
mean    12.980910   77.593797    0.307412    7.995427  304.424304
std      0.586633    0.658539    0.066610    0.690721    0.615343
min     12.945142   77.553645    0.000145    2.000000  300.405000
25%     12.945142   77.553645    0.306436    8.000000  304.450000
50%     12.945142   77.553645    0.306436    8.000000  304.450000
75%     12.945142   77.553645    0.306436    8.000000  304.450000
max     22.566645   88.354485    0.821550   13.474576  309.500000

[8 rows x 24 columns]

In [9]:
# Check missing values
print(df.isnull().sum())

City            0
week_of_year    0
PM2.5           0
PM10            0
NO              0
NO2             0
NOx             0
NH3             0
CO              0
SO2             0
O3              0
Benzene         0
Toluene         0
Xylene          0
AQI             0
state_ut        0
Disease         0
Cases           0
Deaths          0
day             0
mon             0
year            0
Latitude        0
Longitude       0
preci           0
LAI             0
Temp            0
dtype: int64